<div class="toolbar">
  <button type="button" class="btn btn-default btn-sm add-note">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  </button>

  <span class="timestamp"></span>

  <div class="btn-group right-group" role="group" aria-label="right-toolbar">
    <select class="language-select form-control"></select>

    <div class="dropdown action-menu">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-expanded="true">
        More
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Create gist</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>



</div>
<div id="edit-content">

</div>