<div class="toolbar">
  <button type="button" class="btn btn-default btn-sm add-note">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  </button>

  <span class="timestamp"></span>

  <div class="btn-group right-group" role="group" aria-label="right-toolbar">
    <select class="language-select form-control"></select>

    <div class="dropdown action-menu">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-expanded="true">
        Actions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" class="create-gist">Create gist</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" class="share">Share</a></li>
      </ul>
    </div>

    <div class="dropdown share-menu">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-expanded="true">
        Share
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right share-dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
        <li>
          <input class="share-url"/>
          <input class="share-password"/>
          <span class="share-link">Generate share link</span>
        </li>


        <li>
          <input class="gist-url"/>
          <span class="create-gist">Generate gist</span>
        </li>

      </ul>
    </div>
  </div>



</div>
<div id="edit-content">

</div>